body{
    background-color: #FFCED4;
    background-image: url("images/background.jpg");
    padding: 10px;
}

.container{
    background-color: rgba(255, 255, 255, 0.68);
    border-radius: 10px;
    padding: 5px;
}

#navbar_logo {
    height: 60px; 
}

#navbar_logof {
    height: 100px; 
    margin-top: 25px;
    margin-left: 15px;
}

.navbar {
    border-radius: 5px;
    background-color: #FFCED4;
}

footer {
    background-color: #FFCED4;
    border-radius: 5px;
}

  




