body{
    background-color: #FFCED4;
    background-image: url("images/background.jpg");
    padding: 10px;
    font-family: 'Montserrat', sans-serif;
}

.container{
    background-color: rgba(255, 255, 255, 0.93);
    border-radius: 10px;
    padding: 5px;
}

#navbar_logo {
    height: 60px; 
}

#navbar_logof {
    height: 100px; 
    margin-top: 25px;
    margin-left: 15px;
}

.navbar {
    border-radius: 5px;
    background-color: #FFCED4;
    margin-bottom: 10px;
}

footer {
    background-color: #FFCED4;
    border-radius: 5px;
}

.fixed {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 300px;
    border: 3px solid #73AD21;
  }

.img1{
    float: right;
    margin-top: 25px;
    margin-right: 1px;
    max-width: 100%;
    height: auto;
    padding: 5px;
  }

.img2{
    float: left;
    margin-top: 22px;
    margin-left: 1px;
    max-width: 100%;
    height: auto;
    padding: 5px;
}

#footer_logo{
    height: 150px;
    margin-left: 20px;
}

.img_carousel{
    max-width: 100%;
    height: auto;
}

.center {
    text-align: center;
    border: 3px solid pink;
    border-radius: 10px;
    margin-top: 5px;
    margin-bottom: 7px;
  }

.outline {
    border: 3px solid pink;
    border-radius: 10px;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 7px;
}

.thumbnail{
    margin-left: 85px;
    margin-top: 10px;
    padding: 5px;
}

.movie_title{
    margin-left: 120px;
}

.caption{
    margin-left: 90px;
}

.title{
    margin-left: 80px; 
    text-align: center;
}